@{ ViewData["Title"] = "Sobre Nosotros"; }

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" type="text/css" href="~/Content/about.css" />

</head>
<body>

    <div class="container about-section my-5">
        <h2 class="display-4">Sobre Nosotros</h2>
        <div class="row align-items-center my-4">
            <div class="col-md-6">
                
                <img src="~/Imagenes/historia.png" />
            </div>
            <div class="col-md-6">
                <h3>Nuestra Historia</h3>
                <p>Creado en 1850, nuestro restaurante ha sido un referente en la industria de los alimentos. Con pasión y dedicación, hemos evolucionado para ofrecer la mejor experiencia sin perder nuestras raíces costarricenses.</p>
            </div>
        </div>

        <div class="row align-items-center my-4">
            <div class="col-md-6">
                <h3>Nuestro Equipo</h3>
                <p>Contamos con un equipo de chefs y personal altamente capacitado que trabajan para ofrecer un servicio excepcional..</p>
            </div>
            <div class="col-md-6">
               
                <img src="~/Imagenes/equipo.png" />
            </div>
        </div>

        <div class="row align-items-center my-4">
            <div class="col-md-6">
                
                <img src="~/Imagenes/metas.png" />
            </div>
            <div class="col-md-6">
                <h3>Metas y Visión</h3>
                <p>Aspiramos a seguir innovando y creciendo para ser reconocidos como el mejor restaurante del País. Nuestra meta es ofrecer una segunda casa, un segundo hogar donde puedes venir a probar la mejor comida.</p>
            </div>
        </div>
    </div>

</body>
</html>
