
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <br />
        <br />
        <title>Menú Restaurante</title>
        <link rel="stylesheet" href="~/Content/Menucompleto.css">
    </head>
    <body>
        <header>
            <h1 style="font-family:'Times New Roman'">Menú del Restaurante</h1>
        </header>
        <main>
            <section class="menu-category">
                <h2>Entrantes</h2>
                <div class="menu-item">
                    <img src="~/Imagenes/entrada1.png" />
                    <div class="item-info">
                        <h3>Ensalada </h3>
                        <p>Deliciosa ensalada con pollo, lechuga, crutones y aderezo César.</p>
                        <span class="price">₡7,000</span>
                    </div>
                </div>
                <div class="menu-item">

                    <img src="~/Imagenes/entrada2.png" />
                    <div class="item-info">
                        <h3>Bruschetta</h3>
                        <p>Pan tostado con tomate, albahaca y aceite de oliva.</p>
                        <span class="price">₡4,500</span>
                    </div>
                </div>
            </section>

            <section class="menu-category">
                <h2>Platos Principales</h2>
                <div class="menu-item">
                   
                    <img src="~/Imagenes/fuerte.png" />
                    <div class="item-info">
                        <h3>Filete </h3>
                        <p>Exquisito filete de res acompañado de papas al gusto.</p>
                        <span class="price">₡14,000</span>
                    </div>
                </div>
                <div class="menu-item">

                    <img src="~/Imagenes/fuerte2.png" />
                    <div class="item-info">
                        <h3>Pasta</h3>
                        <p>Pasta con una suave salsa cremosa, panceta y queso parmesano.</p>
                        <span class="price">₡10,000</span>
                    </div>
                </div>
            </section>

            <section class="menu-category">
                <h2>Postres</h2>
                <div class="menu-item">
               
                    <img src="~/Imagenes/postre1.png" />
                    <div class="item-info">
                        <h3>Cheesecake</h3>
                        <p>Deliciosa tarta de queso con mermelada de fresa.</p>
                        <span class="price">₡4,000</span>
                    </div>
                </div>
                <div class="menu-item">

                    <img src="~/Imagenes/postres2.png" />
                    
                    <div class="item-info">
                        <h3>Queque de Manzana</h3>
                        <p>Tradicional tarta de manzana con helado de vainilla.</p>
                        <span class="price">₡3,500</span>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
